<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Create Message</title>
</head>
<body>
  <div class="header">
  <h1>Create a Message</h1>
</div>
<div class="link">
  <a href="/">Home</a>
</div>
  <form class="createPost" method="post">
    <label for="message">Message</label>
    <input type='text' name="message">
    <label for="user">User</label>
    <input type="text" name="user">
    <input type="submit">
  </form>
</body>
</html>